$font-family-san-serif:'Canvas','san-serif';
$font-primary:'Canvas','san-serif';
$font-secondary: 'Canvas','san-serif';

@font-face {
    font-family: "Canvas";
    src: url(/fonts/Canvas-Black.otf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Canvas";
    src: url(/fonts/Canvas-Regular.otf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Canvas";
    src: url(/fonts/Canvas-Light.otf) format("truetype");
    font-weight: 300;
}

$primary: #202e5f;
$secondary: #bd9941;
$breadcrumb-bg:transparent;
$breadcrumb-active-color:$primary;
$headings-font-family:$font-secondary;
$headings-color:$primary;
$headings-font-weight:700;
$border-radius:0;
$border-radius-lg:0;
$border-radius-sm:0;
$font-size-base:.9rem;
$font-family-base:$font-primary;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

.breadcrumb{
    font-style: italic;
}
.breadcrumb-item.active{
    font-style: normal;
    font-weight:700;
}

.link-unstyle {
    &,
    &:visited,
    &:hover,
    &:active,
    &:focus,
    &:active {
      font-style: inherit;
      color: inherit;
      background-color: transparent;
      font-size: inherit;
      text-decoration: none;
      font-variant: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: inherit;
      border-radius: inherit;
      outline: inherit;
      vertical-align: inherit;
    }
  }

.modal{
  .modal-header {
    border:0;
    padding: .6rem .6rem;
  }
  .modal-body{
    padding: .6rem .6rem;
  }
  .modal-footer{
    border:0;
    padding: .6rem .6rem;
  }
}

.btn {
  .btn-spinner {display:none;}
  .btn-text {display:block;}
}
.btn:disabled {
  .btn-spinner {display:block;}
  .btn-text {display:none;}
}

figure.table td,
figure.table th {border-top:none;}

@import "~bootstrap/scss/bootstrap";
@import '~slick-carousel/slick/slick';
@import "~jquery-focuspoint/css/focuspoint.css";
@import "hamburger.scss";
@import "custom.scss";
@import "layout.scss";
@import "layout-mobile.scss";
@import "navmenu.scss";
@import "hamburger.scss";