$header-height:100px;
$header-font-color:#fff;
$footer-height:60px;

#wrapper{
    width:100%;
    min-height: 100%;
    min-height: 100vh;
    //background:linear-gradient(to right ,rgba(255,255,255,.7) 0% ,rgba(255,255,255,.7) 100%),url('/img/product-bg.png');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;

    display: flex;
    flex-direction: column;
}
#header{
    position:relative;
    z-index: 1001;
    height: $header-height;
    transition:all .3s ease;
    flex: 0 0 auto;
    background:rgba(#fff, 0.8);
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:1001;
    flex-shrink: 0;
    background:rgba(#fff, 0.8);
}
#content{
    padding-bottom:$footer-height;
    flex: 1 0 auto;
    display:flex;
    flex-direction:column;
}

// =========== Header ================
#header{
    height: $header-height;
    .header-inner {
        display:flex;
        width:100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .header-right {
        margin-left:auto;
        display:none;
    }
    .header-logo{
        width:350px;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:0 30px;
        margin: auto;
        height:60px;
    }
    .header-nav{    
        margin-left: .5rem;
        padding:0;
        height:40px;
    }
    .header-hamburger,
    .header-mobile-nav{
        display:none;
    }
    .header-mobile-nav {
        top: 60px;
        bottom: 30px;
        right: 0;
        left: 0;
        position: fixed;
        background:rgba($primary, .95);
        width:100%;
        overflow:auto;

        .header-mobile-nav-close {
            display:none;
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            color: #fff;
            width: 32px;
            height: 32px;

            span { font-size: 2rem; }
        }
        
        .toolbar-list{
            position: static;
            text-align: left;
            padding: 1rem 2rem;
        }
        
        .toolbar-list .toolbar-item{
            color:#fff;
        }
    }
    .toolbar-list{
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .toolbar-list .toolbar-item{
        font-size: 20px;
        margin:0 5px;
        color:$secondary;
    }

    
    @include media-breakpoint-down(md){
        height: 60px;
    }
}
// =========== Footer ================
#footer{
    .footer-inner{
        display:flex;
        margin: 0 40px;
        height: $footer-height;
        padding-top: 12px;
    }
    .footer-left {
        flex:0 0 40%;
    }
    .footer-middle {
        flex:0 0 20%;
        text-align:center;
        img {
            width:35px;
        }
    }
    .footer-right {
        flex:0 0 40%;
    }
    .footer-navbar{
        display:flex;
        align-items:center;
        justify-content:center;
        margin:0;
        padding:0;
    }
    .footer-navbar li{
        list-style:none;
        flex:0 0 50%;
    }
    .footer-navbar a {
        font-size:12px;
        font-family:$font-secondary;
        font-weight:700;
        letter-spacing: 2px;
        text-align:center;
        color:$primary;
    }
    .footer-copyright{
        text-align:center;
        padding: 5px 0px;
        color:$secondary;
        display:none;
    }
}
// =========== Our Story =============
.page-ourstory{
    .container{
        .title{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// =========== Our Diamond =============
.page-ourdiamond{
    .container{
        .title{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// =========== The One =============
.page-theone{
    .container{
        .title{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// =========== Product Page ==============
.product-item{
    text-align:center;
    position:relative;
    overflow:hidden;
    padding-bottom: 15px;
    .product-item-inner{
        transform:scale(.95);
        opacity:.8;
    }
    .product-img{
        height: 0;
        width:80%;
        padding-bottom:80%;
        margin: 0 auto;
        position:relative;
        overflow:hidden;

        img {
            display:block;
            width: 100%;
            height: 100%;
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%, -50%);
            background-repeat:no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .product-overlay{
            background:radial-gradient(circle closest-side, transparent 90%,white 100%);
            position:relative;
            height: 250px;
            transition:all .3s ease;
        }
    }
    .product-name{
        font-family:$font-secondary;
        font-weight:bold;
        padding:5px 30px;
    }
    .product-price{

    }
    .product-tools{
        margin-top: 10px;
    }
    .product-button{
        padding: 5px 40px;
        max-width: 100%;
        opacity:0;
        visibility: hidden;
    }
}
.product-item:hover{
    .product-item-inner{
        transition: all .3s linear;
        transform:scale(1);
        opacity:1;
    }
    .product-img-overlay{
        background:radial-gradient(circle closest-side, transparent 95%,white 100%);
    }
    .product-button{
        opacity:1;
        visibility: visible;
    }
}

// =========== Product Detail Page ==============
#product-detail-page{
    .product-info{
        background:lighten($primary, 70%);
        padding: 4rem 4rem;
        height: 100%;
        .product-info-inner {
            max-width: 500px;
        }
    
        .btn {
            letter-spacing: 2px;
            width:100%;
            padding-top:.8rem;
            padding-bottom:.8rem;
            margin-bottom:1rem;
        }
    
        .btn-outline-primary:hover {
            background:#fff;
            color:$primary;
        }

        &:before{
            content: "";
            background:lighten($primary, 70%);
            position: absolute;
            top: 0;
            right: -100px;
            width: calc(50% + 100px);
            height: 100%;
            z-index: -1;
        }
    }
    
    .product-fast-action {
        text-align:center;
        cursor:pointer;
        padding: 1rem;
        display:block;
        color:$primary;
        margin:auto;
        i {
            padding-right: .5rem;
        }

        &:hover{
            text-decoration: none;
        }
    }

    .product-specs{
        padding:1rem 0;
        .product-spec{
            margin-bottom:2rem;
        }
        .product-spec-label{
            font-size:.7rem;
            color:$primary;
            letter-spacing:1px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .product-figure{
        display: flex;
        align-items:center;
        justify-content:center;
        padding: 2rem;
    }

    @include media-breakpoint-down(md){
        .product-info{
            padding: 1.5rem;

            &:before{
                display:none;
            }
        }

        .product-specs{
            padding:1.5rem;
        }
    }
}

//================== Blog Page==================
.blog-list{
    .blog-item{
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        margin-bottom: 30px;
        display:block;
    }
    .blog-image{
        width:100%;
        padding-bottom:10px;
    }   
    .blog-content{
        width:100%;
    }
    .blog-title{
        @extend .h5;
        margin-bottom:5px;
        display:block;
    }

    @include media-breakpoint-up(md) {  
        .blog-item{
            display:flex;
            padding-bottom:0px;
        }
        .blog-image{
            width:30%;
            flex:0 0 30%;
            padding-right: 20px;
        }   
        .blog-content{
            width:70%;
            flex:0 0 70%;
        }
    }
}

//================== Contact-Us Page==================
.contact-list {
    height: 100%;
    border: 1px solid $secondary;
    border-radius:10px;
    padding: 20px;
}

.contact-list .contact-item {
    display: flex;
    margin-bottom:10px;
}

.contact-list .contact-item i {
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:$secondary;
}
.contact-list .contact-item span{
    padding-top:2px;
    padding-left:10px;
    display: block;
}

.btn-send{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:.5rem 3rem;
}
.btn-send .spinner{
    margin-right:6px;
    display:none;
}
.btn-send-loading .spinner{
    display:block;
}

// ========== fullpage slider ===========
//http://designmodo.com/create-full-screen-slider/
//https://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/
//https://tympanus.net/codrops/2013/04/17/background-slideshow/
.fullpage-slider-wrapper{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index:1;
    flex:1;
    display:flex;
    .slider-list{
        display:flex;
        position:relative;
        flex:1;
    }
    .slider-item{
        position: absolute;
        display: block;
        width: 101%;
        height: 101%;
        top: -0.5%;
        left: -0.5%;
        opacity: 0;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        transition: opacity 1s;
    }
    .slider-item .slider-img {
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index:-1;

        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;

        &.slider-img-desktop { display:block; }
        &.slider-img-mobile { display:none; }

        @include media-breakpoint-down(sm){
            &.slider-img-desktop { display:none; }
            &.slider-img-mobile { display:block; }
        }
    }

    .slider-content{
        color:#fff;
        font-family:$font-secondary;
        z-index: 1000;
        position: absolute;    
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        padding: 15px 20px;
    }
    .slider-content-inner{
        position:relative;
        padding: 10px 16px;
        text-shadow: 0 1px 0 black;
    }
    .slider-tagline{    
        font-size: 2rem;
    }
    .slider-subtagline{
        padding-bottom:10px;
    }

    @include media-breakpoint-down(md){
        .slider-content{
            width:90%;
            margin:0 5%;
            top: unset;
            left:0;
            right:0;
            bottom:20px;
            transform:none;
            text-align: center;
        }
        .slider-tagline{    
            font-size: 1.5rem;
        }
    }
}
.fullpage-slider-wrapper:after{    
    content: '';
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

// ========== subpage banner ===========
.subpage-banner{
    width:100%;
    padding:0 3rem;
    margin-bottom:1.5rem;
    
    @include media-breakpoint-down(md) { 
        padding:0 0;
    }
    .subpage-banner-item{
        width:100%;
        max-width:1200px;
        margin:auto;
        position:relative;
        display:flex;
        overflow:hidden;

        img {
            width:100%;
        }
    }
}

// ======== page style =============
.page-title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.page-desc {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1rem;
}


// ===== AppointmentPage =========
#AppointmentPage{
    .contact-box {
        background:$primary;
        color:#fff;
        font-family:'Canvas','san-serif';
        border:3px solid $gray-700;
        padding:20px;
        text-align:center;
    }
    .contact-inner {
        border:2px solid $gray-700;
        padding:40px;
    }
    .contact-row{
        margin-bottom:20px;
    }
    .contact-title{
        font-size:1.2rem;
        font-weight:400;
        font-style: italic;
        margin-bottom:20px;
    }
    .contact-desc{
        font-size:1rem;
        font-weight:300;
    }
    .contact-icon{
        color:#fff;
        font-size: 2rem;
        padding: 0 15px;
    }
}

//======== testimonial =========
.review-list{
    text-align: center;
    .row{
        .col-md-4{
            padding: 10px;
            .review-box{
                text-align:center;
                padding: 40px 40px;
                box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);
                background: #fff;
                margin: 10px 0;
                height: 100%;
                a{
                    padding: 0;
                    cursor: pointer;
                }
                .block-with-text{
                    display: block;
                    text-align: justify;
                    transition:all .3s ease;
                }
                .block-with-text-hide{
                    display: none;
                    text-align: justify;
                    transition:all 1s ease;
                }
                a:hover,a.active,a:focus{
                    text-decoration: none;
                    border: none;
                }
            }
        }
    }
}
// ========== Gallery Page ===========
#GalleryPage{
    .container{
        margin-top: 60px;
        margin-bottom: 60px;
        .gallery-list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            .gallery-item{
                width: 100%;
                position: relative;
                overflow: hidden;
                img{
                    width:100%;
                }
                .gallery-link{
                    border-top: 1px solid #000;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-top: 5px;
                }
            }
        }
    }
}