@include media-breakpoint-down(md){
    body{
        &.hamburger-active #header .header-mobile-nav{
            display:block;
        }
    }
    #header{
        .header-inner{
            flex-direction:column;
        }
        .header-inner-top{
            display:flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .toolbar-list{
                display:none;
            }
        }
        .header-right{
            margin-left:0;
        }
        .header-logo{
            width:100%;
            padding:0 10px;
            justify-content: flex-start;
            max-width: 230px;
            margin: unset;
        }
        .header-nav{
            display:none;
        }
        .header-hamburger{
            display:block;
        }
    }
    #content{
        padding-bottom:0;
        .row{
            .col{
                .sub-banner{
                    height: auto;
                    img{
                        position: relative;
                        transform: translate(0, 0);
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    #footer{
        position:relative;
        bottom:unset;
        left:unset;
        right:unset;

        .footer-inner{
            display:none;
        }

        .footer-copyright{
            display:block;
        }
    }
}