#header{
    .nav-menu { list-style: none; padding:0; margin:0;position: relative; }
    .nav-menu li {position:relative;}
    .nav-menu a,
    .nav-menu a:link,
    .nav-menu a:hover { text-decoration: none; }
    .nav-menu > li > a{
        color:$primary;
        font-family:$font-secondary;
        font-weight:bold;
        letter-spacing: 3px;
        width:100%;
        display:flex;
        white-space: nowrap;
    }
    
    .header-nav {
        .nav-one{
            display:flex;
        }
        .nav-one > li > a{
            padding:.5rem 2rem;
    
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 2px;
                background-color: $primary;
                transition: width .3s ease;
                transform-origin:center;
            }
        }
        .nav-two{
            background:$primary;
            padding:3px 5px;
            display:none;
            transition:opacity .3s ease;
            position: absolute;
            left:50%;
            transform: translate(-50%, 0);
            
            &:before{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $primary;
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .nav-two > li > a{
            padding: .5rem 1rem;
            color:#fff;
            font-weight:normal;
            font-size:14px;
            font-style:italic;
            margin:3px 0px;
        }
        .nav-two > li > a:hover,
        .nav-two > li > a.active{
            color:$primary;
            background:#fff;
            font-style:normal;
        }
    
        // Hover section
        .nav-one > li {
            &:hover .nav-two{
                display:block;
            }
        }
    
        .nav-one > li > a:hover,
        .nav-one > li > a.active{
            &:after{
                width:60px;
            }
        }
    }

    // mobile section
    .header-mobile-nav {
        .nav-one{
            flex-direction: column;
            margin: 0 2rem;
        }
        .nav-one > li:first-child > a{border-top:0;}
        .nav-one > li:last-child > a {border-bottom: .5px solid #fff;}
        .nav-one > li > a{
            color:#fff;
            justify-content: space-between;
            align-items: center;
            margin: 3px 0;
            transition:all .3s ease;
            border-top: .5px solid #fff;
            .nav-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nav-plus { display:inline-block; }
            .nav-minus { display:none; }
        }
        .nav-one > li > a:hover{
            background:#fff;
            color:$primary;
        }

        .nav-two{
            display:none;
        }
        .nav-two > li > a{
            color:#fff;
            text-align:left;
            justify-content: flex-start;
        }
        .nav-two > li > a:hover,
        .nav-two > li > a.active{
            color:$primary;
            background:#fff;
        }

        // Hover section
        .nav-one > li {
            > a.nav-open {
                + .nav-two {
                    display:block;
                }

                .nav-plus { display:none; }
                .nav-minus { display:inline-block; }
            }
        }
    }
}